<!DOCTYPE html>
	<html lang="en" dir="ltr">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/cooltipz-css/cooltipz.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="icon" type="image/x-icon" href="./assets/favicon-icon.png" />
    <title>Customer registry</title>
	<!-- Boxicons CDN Link -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="todo-dashboard" id="todo-dashboard">
			<div class="navbar" id="navbar">
			  <div class="dashboard-heading">
				<i class="fa fa-light fa-clipboard-list logo-icon"></i>
				Customer Care registry
			  </div>
			  <div class="profile-date-section">
				<div class="profile-card-section">
				  <img
					src="./assets/profile-icon.jpg"
					alt="profile-icon"
					class="profile-icon"
					title="User-Profile"
					id="profile-icon"
				  />
				  <div class="sub-menu-wrap">
					<div class="sub-menu" id="profile-bar">
					  <div class="user-info">
						<img src="./assets/profile-icon.jpg" alt="Profile Image" />
						<div>
						  <h2 id="logged-username" class="profile-user-name">Name</h2>
						  <h4 id="logged-usertype" class="profile-user-type"></h4>
						</div>
					  </div>
					  <hr />
					  <div class="delete-account" id="delete-account">
						Delete Account
					  </div>
					  <div class="logout" id="logout">Logout</div>
					</div>
				  </div>
				</div>
		
				<div class="live-date-time">
				  <span class="current-time" id="current-time" title="Live Time"
					>12:38 PM</span
				  >
				  <span class="current-date" id="current-date" title="Live Date"
					>11/08/2022</span
				  >
				</div>
			  </div>
			</div>
			<div class="todo-container" id="todo-container">
			  <div id="dashboard-snackbar" class="snackbar">
				<span id="deleted-message">Login successful.. Happy Planning</span>
				<button class="snackbar-close" id="dashboard-snackbar-close">
				  X
				</button>
			  </div>
			  <div id="updated-snackbar" class="snackbar">
				<span>Task Updated Successfully</span>
				<button class="snackbar-close" id="updated-snackbar-close">X</button>
			  </div>
			  <div class="filter-bar">
				<input
				  type="search"
				  placeholder="Search using Complaints"
				  name="Filter"
				  class="filter-container"
				  id="filter-tasks"
				  onsearch="onSearch()"
				  spellcheck="false"
				/>
				<button type="submit" class="search-button">
				  <i class="fa fa-search"></i>
				</button>
			  </div>
			  <ul class="list"></ul>
			  <div class="task-buckets">
				<div class="todo-bucket">
				  <div class="todo-button">
					<div class="todo-heading">📬 Complaints</div>
					<div class="sort-category-buttons">
					  <button class="sort-button">
						SORT
						<img
						  src="./assets/sort-arrow-icon.png"
						  alt="Sort Arrow Icon"
						  class="sort-arrow"
						/>
					  </button>
					  <div class="sort-category todo-category" id="todo-sort">
						<button
						  class="category-buttons"
						  name="todo-alphabet-ascending"
						>
						  Alphabet
						  <i class="fa fa-sort-alpha-asc" id="todo-alphabet"></i>
						</button>
						<button
						  class="category-buttons"
						>
						  Start Date<i
							class="fa fa-light fa-arrow-down-1-9"
							id="todo-start-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						>
						  Due Date<i
							class="fa fa-light fa-arrow-down-1-9"
							id="todo-due-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						>
						  None
						</button>
					  </div>
					</div>
				  </div>
				  <button class="add-task-button" id="todo-add-task">
					+ Raise Issue
				  </button>
				  <div class="todo-cards" id="todo-cards"></div>
				</div>
				<div class="inprogress-bucket">
				  <div class="todo-button">
					<div class="todo-heading">✨ In - Progress</div>
					<div class="sort-category-buttons">
					  <button class="sort-button">
						SORT
						<img
						  src="./assets/sort-arrow-icon.png"
						  alt="Sort Arrow Icon"
						  class="sort-arrow"
						/>
					  </button>
					  <div
						class="sort-category inprogress-category"
						id="inprogress-sort"
					  >
						<button
						  class="category-buttons"
					  
						>
						  Alphabet
						  <i
							class="fa fa-sort-alpha-asc"
							id="inprogress-alphabet"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						 
						>
						  Start Date<i
							class="fa fa-light fa-arrow-down-1-9"
							id="inprogress-start-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						  
							class="fa fa-light fa-arrow-down-1-9"
							id="inprogress-due-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						  
						>
						  None
						</button>
					  </div>
					</div>
				  </div>
		
				  <button class="add-task-button" id="inprogress-add-task">
					+ Add task
				  </button>
				  <div class="todo-cards" id="inprogress-cards"></div>
				</div>
				<div class="completed-bucket">
				  <div class="todo-button">
					<div class="todo-heading">✔️ Completed</div>
					<div class="sort-category-buttons">
					  <button class="sort-button" >
						SORT
						<img
						  src="./assets/sort-arrow-icon.png"
						  alt="Sort Arrow Icon"
						  class="sort-arrow"
						/>
					  </button>
					  <div class="sort-category" id="completed-sort">
						<button
						  class="category-buttons"
						  
						>
						  Alphabet
						  <i class="fa fa-sort-alpha-asc" id="completed-alphabet"></i>
						</button>
						<button
						  class="category-buttons"
						  
						>
						  Start Date<i
							Due
							Date
							class="fa fa-light fa-arrow-down-1-9"
							id="completed-start-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						  
						>
						  Due Date<i
							class="fa fa-light fa-arrow-down-1-9"
							id="completed-due-date"
						  ></i>
						</button>
						<button
						  class="category-buttons"
						 
						>
						  None
						</button>
					  </div>
					</div>
				  </div>
				  <button class="add-task-button" id="completed-add-task">
					+ Add task
				  </button>
				  <div class="todo-cards" id="completed-cards"></div>
				</div>
			  </div>
			</div>
			<div class="confirmation-alert" id="confirm-delete-account">
			  <div class="delete-modal-content">
				<span class="delete-close-button" id="delete-close-button">X</span>
				<div>
				  <i class="fa fa-solid fa-circle-xmark danger-xmark"></i>
				</div>
				<div
				  class="delete-confirmation-message"
				  id="delete-confirmation-message"
				></div>
				<div class="delete-confirmation">
				  <div id="delete-confirm" class="delete-confirm">Confirm</div>
				  <div id="delete-cancel" class="delete-cancel">Cancel</div>
				</div>
			  </div>
			</div>
			<div class="modal">
			  <div class="modal-content">
				<div id="task-snackbar" class="snackbar"></div>
				<span class="close-button">X</span>
				<section id="add-transaction" class="add-transaction">
				  <div id="new-transaction">
					<div class="high-light">Register Complaint</div>
					<br />
					<label class="high-light modal-label" for="task-name"
					  >Reporter Name</label
					><br />
					<input id="task-name" type="text" class="task-input" /><br />
					<div class="deadline-dates" style="display: none">
					  <div for="start-date" class="start-deadline modal-label">
						Start Date
					  </div>
					  <div for="end-date" class="end-deadline modal-label">
						Due Date
					  </div>
					</div>
					<div class="deadline-dates" style="display: none">
					  <div>
						<input
						  type="date"
						  id="start-date"
						  class="task-input begin-date"
						  required
						/><br />
					  </div>
					  <div>
						<input
						  type="date"
						  id="end-date"
						  class="task-input end-date"
						  required
						/><br />
					  </div>
					</div>
					<label class="high-light modal-label">Select Service</label><br />
					<select name="Priority" id="todo-priority" class="task-input">
					  <option value="Software">Software</option>
					  <option value="Hardware">Hardware</option>
					  <option value="None">None</option>
					</select>
					<label
					  class="high-light modal-label description-label"
					  for="description"
					  >Complaint Description</label
					><br />
					<textarea
					  id="description"
					  name="description"
					  type="text"
					  rows="4"
					  cols="50"
					  class="task-input description"
					></textarea>
					<br />
					<div class="mandatory-message">* Mandatory fields</div>
					<div class="save-entry">
					  <div>
						<input
						  type="submit"
						  value="Submit"
						  class="add-button"
						  id="add-task"
						/>
					  </div>
					  <div>
						<input
						  type="button"
						  value="Cancel"
						  class="add-cancel-button"
						  id="task-cancel-button"
						/>
					  </div>
					</div>
				  </div>
				</section>
			  </div>
			</div>
			<div class="view-task-modal">
			  <div class="modal-content">
				<div id="task-snackbar" class="snackbar"></div>
				<span class="close-button" id="close-view-task">X</span>
				<section id="add-transaction" class="add-transaction">
				  <div id="new-transaction-1">
					<div class="high-light modal-label-1">Task Name</div>
					<div
					  id="view-task-name"
					  class="view-task-details task-heading-name"
					></div>
					<div class="deadline-dates">
					  <div class="start-deadline modal-label-1">Start Date</div>
					  <div class="end-deadline modal-label-1">Due Date</div>
					</div>
					<div class="deadline-dates">
					  <div
						class="view-start-date"
						title="Start Date"
						id="view-start-date"
					  ></div>
					  <div
						class="view-end-date"
						title="Due Date"
						id="view-due-date"
					  ></div>
					</div>
					<div class="high-light modal-label-1">Priority</div>
					<div
					  id="view-priority"
					  class="view-task-details view-task-details-small view-task-progress"
					></div>
					<div class="high-light modal-label-1">Task Progress</div>
					<div
					  id="view-progress"
					  class="view-task-details view-task-details-small"
					></div>
					<div class="high-light modal-label-1 description-label">
					  Task Description
					</div>
					<textarea
					  id="view-description"
					  name="view-description"
					  type="text"
					  rows="4"
					  cols="50"
					  disabled="disabled"
					  class="view-description"
					></textarea>
				  </div>
				  <div class="save-entry">
					<div>
					  <input
						type="submit"
						value="Edit"
						class="add-button"
						id="edit-view-task-modal"
					  />
					</div>
					<div>
					  <input
						type="button"
						value="Close"
						class="add-cancel-button"
						id="close-view-task-modal"
					  />
					</div>
				  </div>
				</section>
			  </div>
			</div>
			<div class="edit-task-modal" id="update-task-modal">
			  <div class="modal-content">
				<div id="task-snackbar" class="snackbar"></div>
				<span class="close-button" id="close-edit-task">X</span>
				<section id="add-transaction" class="add-transaction">
				  <div id="new-transaction-1">
					<div class="high-light">Edit Task</div>
					<div class="high-light modal-label">Task Name</div>
					<input type="text" id="edit-task-name" class="task-input" />
					<div class="deadline-dates">
					  <div class="start-deadline modal-label">Start Date</div>
					  <div class="end-deadline modal-label">Due Date</div>
					</div>
					<div class="deadline-dates">
					  <div>
						<input
						  type="date"
						  id="edit-start-date"
						  class="task-input begin-date"
						  required
						/><br />
					  </div>
					  <div>
						<input
						  type="date"
						  id="edit-end-date"
						  class="task-input end-date"
						  required
						/><br />
					  </div>
					</div>
					<div class="high-light modal-label">Priority</div>
					<select name="Priority" id="edit-priority" class="task-input">
					  <option value="High">High</option>
					  <option value="Medium">Medium</option>
					  <option value="Low">Low</option>
					</select>
					<div class="high-light modal-label">Task Progress</div>
					<select name="Progress" id="edit-progress" class="task-input">
					  <option value="New">TO DO</option>
					  <option value="Inprogress">Inprogress</option>
					  <option value="Completed">Completed</option>
					</select>
					<div class="high-light modal-label description-label">
					  Task Description
					</div>
					<textarea
					  id="edit-description"
					  name="edit-description"
					  type="text"
					  rows="4"
					  cols="50"
					  class="task-input description"
					></textarea>
				  </div>
				  <div class="save-entry">
					<div>
					  <input
						type="submit"
						value="Update"
						class="add-button"
						id="update-view-task-modal"
					  />
					</div>
					<div>
					  <input
						type="button"
						value="Cancel"
						class="add-cancel-button"
						id="close-edit-task-modal"
					  />
					</div>
				  </div>
				</section>
			  </div>
			</div>
			<div class="delete-modal" id="exit-window">
			  <div class="modal-content">
				<div id="task-snackbar" class="snackbar"></div>
				<span class="close-button" id="close-delete-task">X</span>
				<section id="add-transaction" class="add-transaction">
				  <div class="danger-alert-icon">
					<i class="fa fa-exclamation-circle delete-confirm-icon"></i>
				  </div>
				  <div class="user-alert">Are you Sure ?</div>
				  <div id="delete-task" class="alert-msg"></div>
				  <div class="user-control">
					<div
					  class="yes-button"
					
					  id="conform-delete"
					>
					  Confirm
					</div>
					<div
					  class="no-button"
					 
					  id="conform-cancel"
					>
					  Cancel
					</div>
				  </div>
				</section>
			  </div>
			</div>
		  </div>
	</body>
	</html>
	
	
